---
layout: default
---
<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>

<!DOCTYPE html>
<html>

<header>
    <h1>Logs</h1>
</header>

<body>

    <h2>Education</h2>
    <ul>
        <li>Yangchung High School (2016.03 - 2019.02)</li>
        <li>Soongsil Univ. (2019.03 - )
            <ul>
                <li>Major in Software Engineering</li>
                <li>Congergence Major in Information Security</li>
            </ul>
        </li>
    </ul>

    <h2>Communities</h2>
    <ul>
        <li><a href="https://www.notion.so/ASC-1e2e608c98c949a696f02b363480ae38?pvs=4">ASC : Academic Security Club</a> (2022.09 - )
            <ul>
                <li>Club of Soongsil Univ. Software</li>
                <li><a href="https://github.com/D2CAMPUS-PARTNER/2022-Kick-off">2022 Naver D2 Campus Partner</li>
                <li><a href="https://www.kisia.or.kr/talent_support/kucis_info/">2023 KUCIS</a></li>
            </ul>
        </li>
        <li><a href="https://www.makeus.in/umc">UMC SpringBoot 4th</a> (2023.03 - 2023.06)</li>
        <li><a href="https://www.kitribob.kr/">KITRI Best of The Best 12th</a> (2023.06 - )
            <ul>
                <li><a href="https://github.com/bob-12th">Archive</a></li>
            </ul>
        </li>
        <li><a href="https://www.makeus.in/umc">UMC SpringBoot 5th</a> (2023.09 - )</li>
        <li><a href="https://gdsc.community.dev/">GDSC : Google Developer Student Clubs</a> (2023.10 - )</li>
            <ul>
                <li><a href ="https://gdscsoongsil.pages.dev/">GDSC Soongsil Univ.</a></li>
                <li>Core Member : Part Lead (Server/Cloud)</li>
            </ul>
    </ul>

    <h2>Projects</h2>
    <ul>
        <li><a href="https://oxdjww.notion.site/7ecd8e34f5de49e89b0e689166d114fb?pvs=4">강의가 듣고 싶어서</a></li>
        <li><a href="https://oxdjww.notion.site/FLAG-app-70518dfbec3045d2ab39f5e3af55808b?pvs=4">FLAG</a></li>
    </ul>

    <h2>Awards</h2>
    <ul>
        <li><a href="https://oxdjww.notion.site/UMC-Ideathon-5d8b54b888ae49a292c76cafe8e3c755?pvs=4">UMC 4th Ideathon 우수상</a></li>
        <li><a href="https://oxdjww.notion.site/UMC-4th-Demoday-1d75d564ac5f4f2ea4577a9d95fc9c0c?pvs=4">UMC 4th Demoday 우수상</a></li>
    </ul>

    <h2>Certifications</h2>
    <ul>
        <li>TOPCIT 374(Lv2) (2023.05.20)</li>
    </ul>

    <h2>Others</h2>
    <ul>
        <li>병역필 (대한민국 육군 포병 2020.1 - 2021.07)</li>
        <li>숭실대학교 소프트웨어학부 7대 학생회 Stream (2021.11 - 2022.12)</li>
        <li><a href="https://oxdjww.notion.site/4a844329058c4277b7a3366d4c8248d3?pvs=4">OOP Study</a></li>
        <li><a href="https://oxdjww.notion.site/SSU-Devcon-01ca4ba1b6a2465eb6bd19621e9acaa0?pvs=4">2023 SSU Devcon Seminar</a></li>
    </ul>

</body>

</html>
